.footer{
    color: white;
    background-color: darkslategrey;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer > p{
    font-size: .7rem;
    line-height: 1rem;
}